@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4 m-1">Welcome</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Year" class="m-1"></label>
        <br/>
        <input asp-for="FizzBuzz.Year" class="m-1"/><br />
        <label asp-for="FizzBuzz.Name"></label>
        <br/>
        <input type="text" asp-for="FizzBuzz.Name" /><br />
        <button type="submit" class="btn btn-primary m-1">Zatwierdź</button>
        <div id="alert" class="alert alert-danger m-1" role="alert">
            <span asp-validation-for="FizzBuzz.Name" ></span>
            <span asp-validation-for="FizzBuzz.Year" ></span>
        </div>
        <div id="success" class="alert alert-success m-1" role="alert">
            <span>@Model.Success</span>
        </div>
    </form>
</div>
<script>
    let alert = document.getElementById("alert");
    let success = document.getElementById("success");
    if(alert.innerText == "")
        alert.style.display = "none";
    if(success.innerText == "")
        success.style.display = "none";
</script>

